<!-- Products -->
<section class="columns-3xs py-20 px-6">
    <div class="aspect-square pb-3">
      <div class="card bg-base-100 shadow-sm">
        <figure>
          <img
            src="https://th.bing.com/th/id/OIP.-TdjMH58Q9_DTWIQLadAwgHaEc?rs=1&pid=ImgDetMain"
            alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Hamburgesa</h2>
            <p>Deliciosa hamburguesa de res con queso derretido y vegetales frescos con la salsa de la casa</p>
          <div class="card-actions justify-end">
            <button class="btn btn-info">Agregar al carrito</button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="aspect-square">
      <div class="card bg-base-100 shadow-sm">
        <figure>
          <img
            src="https://th.bing.com/th/id/OIP.n3BzJBD5rXZ7LOkjjXUs-QAAAA?rs=1&pid=ImgDetMain"
            alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Arepa</h2>
          <p>Deliciosa arepa con carne mechada, caraotas y queso rayado.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-info">Agregar al carrito</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="aspect-square">
      <div class="card bg-base-100 shadow-sm">
        <figure>
          <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Card Title</h2>
          <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
          <div class="card-actions justify-end">
            <button class="btn btn-info">Agregar al carrito</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="aspect-square">
      <div class="card bg-base-100 shadow-sm">
        <figure>
          <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Card Title</h2>
          <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
          <div class="card-actions justify-end">
            <button class="btn btn-info">Agregar al carrito</button>
          </div>
        </div>
      </div>
    </div>
  </section>