/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "garden";
  default: true;
  --color-base-100: oklch(0.96 0.0324 93.52);
  --color-neutral-content: oklch(0.7 0.0324 93.52);

  --color-secondary: oklch(0.74 0.1234 140.83);
  --color-secondary-content: oklch(0.66 0.1502 149.91);

  --color-primary: oklch(0.59 0.215 2.4);
  --color-primary-content: oklch(0.62 0.1416 357.7);

  --color-accent: oklch(0.77 0.1162 40.5);
  --color-info: oklch(0.68 0.1769 5.54);
  --color-neutral: oklch(0.23 0.0595 323.02);
}
