/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "garden";
  default: true;
  --color-primary: oklch(0.61 0.2449 4.31);
  --color-primary-content: oklch(0.69 0.2095 7.03);
  --color-secondary: oklch(0.66 0.1753 151.36);
  --color-secondary-content: oklch(0.73 0.1449 144.38);
  --color-base-100: oklch(0.96 0.0358 89.44);
  --color-neutral-content: oklch(0.96 0.0358 89.44);
}
